@font-face {
    font-family: Vazir-Bold;
    src: url('Vazir-Black-FD.ttf') format('woff');
}
@font-face {
    font-family: Vazir-req;
    src: url('Vazir-Regular-FD.ttf');
}
@font-face {
    font-family: PoppinsBold;
    src: url('Poppins-SemiBold.ttf');
}
.vazir-bold {
    font-family: Vazir-Bold;
}
.vazir-req {
    font-family: Vazir-req !important;
}
.fa-font *{
    font-family: Vazir-Bold;
}
.en-font * {
    font-family: PoppinsBold !important;
}
