@font-face {
    font-family: Vazr-Meduim;
    src: url('Vazir-Black-FD.ttf') format('woff');
}
.vazir-med {
    font-family: Vazr-Meduim;
}
body p,h1,h2,h3,h4,h5,span, input {
    font-family: Vazr-Meduim !important;
}