.bg-primary {
    background-color: #ffcc00;
}
.shadow-charge-container {
    box-shadow: 0 0 19px -7px rgb(0 0 0 / 25%);
}
.MuiOutlinedInput-notchedOutline {
    border: none;
}
.MuiInputBase-input {
    border: 1px solid #DDE;
    background-color: #efeff4;
    border-radius: 30px;
    padding: 17px;
}
.MuiInputLabel-root.Mui-focused {
    color: #a3a3a3;
}
.MuiInputLabel-root {
    color: #a3a3a3;
}
